@font-face {
  font-family: 'CustomFont';
  src: url('https://img1.wsimg.com/gfonts/s/raleway/v29/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2') format('woff2');
}

html,
body,
#header,
.view-on .view-on-option,
#content,
.toast,
.image-wrapper
.img-edit-wrapper
.image-display,
.button-container,
#uploadSuccess,
.slider,
.slider-container,
.slider-labels,
#demo #demo-images .image-container,
#demo #demo-images .image-container.selected,
#demo #demo-images .image-container img,
#demo-result,
code {
  font-family: "CustomFont";
}

@import url("https://img1.wsimg.com/gfonts/s/raleway/v29/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2");

html,
body {
  margin: 0;
  font-family: 'CustomFont';
  src: url('https://img1.wsimg.com/gfonts/s/raleway/v29/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2') format('woff2');
}

#header {
  background: #1e85ff;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.view-on .view-on-option {
  padding: 11px 16px;
  border-radius: 8px;
  background: white;
  color: black;
  text-decoration: none;
  font-family: 'CustomFont';
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.view-on .view-on-option svg {
  margin-right: 8px;
}

#content {
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  padding: 0 30px;
  padding-bottom: 30px;
}

.content-container {
  display: flex;
  height: 100%; /* Set height to 100% */
  
}

.toast {
  position: fixed;
  bottom: -50px; /* Start position off screen */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  font-family: 'CustomFont';
  font-size: 18px;
  transition: bottom 0.2s ease-out; /* Add transition */
} 

#imageArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.image-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.img-edit-wrapper {
  width: 50%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-display {
  width: 100%;
  height: auto;
  aspect-ratio: 8.5 / 11; /* Maintain the aspect ratio */
  object-fit: contain; /* To maintain aspect ratio of the image */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.button-container label.custom-file-upload,
.button-container input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1e85ff; /* change color to eb6c05 here if he wants something different*/
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 200px; /* Set a specific width */
  height: 50px; /* Set a specific height */
  line-height: 20px; /* Adjust line height */
  font-family: 'CustomFont'; /* Set font */
  font-size: 16px; /* Set a specific font size */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin-left: auto; /* Center the buttons */
  margin-right: auto;
}

.button-container input[type="submit"]:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.button-container label.custom-file-upload:hover,
.file-upload-container, 
.button-container input[type="submit"]:hover:not(:disabled) {
  background-color: #4560a0;
}

.file-upload-wrapper {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: space-between;
  width: 100%; /* Take up the full width of the container */
  margin-bottom: 10px; /* Add some space below the wrapper */
}

.custom-file-upload {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 200px; /* Set a specific width */
  height: 50px; /* Set a specific height */
  line-height: 20px; /* Adjust line height */
  font-size: 16px; /* Set a specific font size */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#uploadSuccess {
  margin-left: 10px; /* Add some space to the left of the message */
  color: #4CAF50; /* Green text */
  font-size: 16px;
}

.hidden {
  display: none;
}

.slider {
  width: 100%; /* Full width */
  height: 15px; /* Specified height */
  background: #cccccc; /* Grey background */
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Add some space below the labels */
}

.slider:disabled {
  background: #cccccc; /* Gray background */
  cursor: not-allowed; /* Change cursor */
}

#demo #demo-images .image-container {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

#demo #demo-images .image-container.selected {
  box-shadow: 0 0 0 6px #1e85ff; /* change to eb6c05 if he wants orange */
}

#demo #demo-images .image-container img {
  width: 150px;
  height: 150px;
}

#demo {
  display: flex;
}

#arrow {
  margin: 20px;
  display: flex;
  align-items: center;
}

#arrow::before {
  content: "\2192";
  font-size: 35px;
}

#demo-result {
  flex: 1;
  border: 3px solid #ededed;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;

  height: 320px;
  overflow: auto;
}

#demo-result canvas {
  max-width: 100%;
}

code {
  background-color: #f1f1f1 !important;
  border-radius: 5px;
}

/* content: 2193 when screen smol */

@media only screen and (max-width: 600px) {
  #demo{
    display: block;
  }

  #demo-images{
    display: flex;
    justify-content: center;
  }

  #demo #demo-images .image-container, #demo #demo-images .image-container img{
    height: 100px;
    width: 100px;
  }

  #demo #demo-images .image-container:first-of-type{
    margin-right: 50px;
  }

  #demo-title{
    text-align: center;
  }
  #arrow{
    margin-top: 0;
    justify-content: center;
  }

  #arrow::before{
    content: "\2193";
  }
  /* The sidenav */
  .sidebar {
    width: 200px;
    background-color: #f3f3f3;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sidebar a {
    display: block;
  }
  #main {
    flex: 1;
    padding: 20px;
  }
  .section {
    margin-bottom: 20px;
    width: 80%;
  }
  }
  




